@import './settings';


/* border-box */
.search-container *,
.search-container *:after,
.search-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* search bar focus */
.search-container *:focus {
  background: #fbfbfb;
  color: #333333;
  outline: 0;
}

/* search bar container */
.search-container {
  display: table;
  position: relative;
  width: 51px;
}

/* search icon button */
.search-icon-btn {
  background-color: $info;
  border: 1px solid $info;
  display: table-cell;
  height: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  z-index: 2;
}

/* search bar input container */
.search-input {
  position: absolute;
  left: 0;
  z-index: 1;
}

/* search bar input */
.search-input input.search-bar {
  border: 1px solid #cccccc;
  height: 50px;
  padding: 0px;
  width: 50px;
}
.search-input input.search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}

/* transition effect */
.search-input input.search-bar,
.search-icon-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* hover on search bar container */
.search-container:hover > .search-input input.search-bar {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}
