/* --- IMPORTS --- */

@import './settings';
@import "~bootstrap/scss/bootstrap";
@import './material-select';
@import './form-inputs';
@import './expanding-search-box';
// @import "~materialize-css/dist/css/materialize.min.css";


/* --- GENERAL COMPONENTS ---*/

// All links
a:hover {
  text-decoration: none;
  color: $primary-dark;
}

// General classes

.center-horrizontally {
  display: flex;
  justify-content: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.center-object-horrizontally-and-vertically {
  margin: auto;
}

.center-text {
  text-align: center;
}

// Causes the checkboxes to appear in a grid
.overflow {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:170px;
  display:inline-block;
}

// Causes the content to scroll if it occupies > 50% of view line-height
// The modal takes up 65% of view height, with other stuff in it.
.scrollable {
  overflow: scroll;
  height: 50vh;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: $white;
}

.card-2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-3:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-4:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* --- Animated background --- */

@keyframes LoadAnimation {
  // 0 seconds
  0% {
    background-position: 0% 0%;
  }
  // 1.5 seconds
  // 50% {
  //   background-position: 50% 50%;
  // }
  // 3 seconds
  100% {
    background-position: 100% 100%;
  }
}

.static-background {
  background: linear-gradient(to right, white, white, white, $primary, #00bfa5, white, white, white, white );
  transition: background 1s;
  background-size: 400% 100%;
}

.background-gradient-animation {
  // background-image: linear-gradient(to bottom right, white, $primary, #b9f6ca, #42a5f5, #7986cb, #5c6bc0);
  // Infinite means that it keeps repeating
  @extend .static-background;
  // Run an animation called LoadAnimation.
  animation: LoadAnimation $background-animation-length ease;
}

/* --- Base components --- */

// Modal

.custom-modal {
  // @include center-vertically;
  display: flex;
  // flex-direction: column;
  height: 33vh;
  width: 33vw;
  // Center the modal itself
  // margin: auto;
  justify-content: center;
  align-items: center;
  @extend .center-object-horrizontally-and-vertically;
  // Center the content in the modal
  // @include center-horrizontally;
}

.modal__large-modal {
  height: 67vh;
  width: 67vw;
  position: absolute;
  top: 16%;
  left: 16%;
}

.modal__medium-modal {
  height: 33vh;
  width: 33vw;
  position: absolute;
  top: 33%;
  left: 33%;
  flex-direction: column;
}

// .locations-selector-modal {
//   @extend .bg-light;
//   @extend .custom-modal;
//   @extend .modal__large-modal;
//   @extend .border;
//   @extend .border-dark;
//   @extend .rounded;
//   @extend .card-4;
//   @extend .pb-4;
// }

// .locations-selector-modal-content {
  // position: absolute;
  // height: 30vh;
  // width: 60vw;
  // top: 20%;
  // left: 20%;
  // @extend .border;
  // @extend .border-dark;
  // position: relative;
  // margin-top: 10px;
  // margin-bottom: 10px;
  // flex-direction: column;
// }

// ButtonLink

.button-link {
  background-color: $dark;
  // background-color: FF0000;
  color: rgba(255,255,255,.5);
  border: none;
  display: inline-block;
  line-height: 1.1;
  text-decoration: none;
  margin-top: 11px;
  font-family: "Helvetica Neue";
  box-sizing: content-box;
  cursor: pointer;
  text-align: left;
  @media (max-width: $break-m) {
    padding: 0;
  }
}

.button-link:hover {
  color: rgba(255,255,255,.75);
}

/* --- CUSTOM COMPONENTS --- */

// AddFriendForm

.add-friend-form__label {
  color:#999;
  font-size:18px;
  font-weight:normal;
  padding:10px 10px 10px 5px;
}

.add-friend-form__button-width {
  width: $input-width
}

// BottomPanel

.bottom-panel__large-gutter-row {

}


// LandingPage

.landing-page__icon {
  height: 150px;
  width: 150px;
}

// ListList

.list-list {
  width: $input-width + 30px;
  font-size: $input-label-font-size
}

// LoadingPage

.loading-page__loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loading-page__loader-image {
  height: 6rem;
  width: 6rem;
}

// LocationsSelector

.locations-selector {
  height: 53vh;
}

.locations-selector-button {
  background-color: $info;
  border: 1px solid $info;
  // display: table-cell;
  height: 45px;
  // position: relative;
  // text-align: center;
  // vertical-align: middle;
  width: 45px;
  // z-index: 2;
}

.locations-selector-button:hover {
  background-color: #bababa;
}

// Navbar

.navbar__card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


// TopPanel

.top-panel {
  // @extend .card-2;
  @extend .mb-4;
  @extend .p-3;
}

// Video Container
.video-container{
  position: relative;
  width: 50%;
  padding-bottom: 28.125%;
  left: 25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
