$dark: #343a40;
$textWhite: #fff;

.center-vertically {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 33vh;
  justify-content: center;
  width: 33vw;
  margin: auto;
}

.center-horrizontally {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.button-link {
  background-color: $dark;
  color: rgba(255,255,255,.5);
  border: none;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  margin-top: 11px;
  font-family: "Helvetica Neue";
}

.button-link:hover {
  color: rgba(255,255,255,.75);
}

.dark-background {
  background: $dark
}

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}
